body {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
}

nav.navbar {
	min-height: 75px;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.dataTables_filter input {
		width: 65% !important;
	}
}

.clickable {
	cursor: pointer;
}

#app {
	display: flex;
	align-items: stretch;
}

#sidebar {
	padding-top: 75px;
	position: relative;
	float: left;
	display: block;
    max-width: 100%;
    width: 250px;
    height: 100vh;
    overflow: auto;
    z-index: 10;
}
@media (max-width: 425px) {
	#sidebar {
		position: absolute;
	}
}

#sidebar {
	transition: all 0.3s;
	margin-left: -250px;
}

#sidebar.active {
	margin-left: 0;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus,
a.no-style, a.no-style:hover, a.no-style:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar a[data-toggle="collapse"] {
	position: relative;
}

#sidebar .sidebar-header {
	padding: 20px;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul p {
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar .dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
}

#content {
	margin-top: 75px;
	display: block;
	float: right;
	height: calc(100vh - 75px);
	overflow: auto;
	width: 100%;
}

.bg-custom {
	background-color: rgba(100, 120, 130, .95);
}

.shadow {
	box-shadow: 1px 1px 2px #000;
}

.shadow-bottom {
	box-shadow: 1px 0 2px #000;
}

.fs-sm {
	font-size: .7em;
}

.h-100vh {
	height: 100vh;
}

.clickable {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar:hover {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background: #555; 
}